# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution files
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
tmp/
